.maniana{
    background-color: #A0EEF0;
    color: #971D78;
}
  
.tarde{
  background-color: #47B8FE;
  color: #DCFE24;
}
  
.noche{
  background-color: #FA8F6F;
  color: #971D48;
}
  
.madrugada{
  background-color: #0A0D2C;
  color: #FFFFFF;
}
  